In [2]:
import pandas as pd
import matplotlib.pylab as plot

In [3]:
# Bank of America example
df_bac = pd.read_csv("/Users/karenyang/Desktop/section_2/bac_return.csv", parse_dates=['Date'], index_col=0)
df_bac.head()

              return
Date
1990-01-03  0.008044
1990-01-04 -0.021276
1990-01-05 -0.021740
1990-01-08  0.005555
1990-01-09  0.000000

In [4]:
# JPM example
df_jpm = pd.read_csv("/Users/karenyang/Desktop/section_2/jpm_return.csv", parse_dates=['Date'], index_col=0)
df_jpm.head()

              return
Date
1990-01-03  0.033333
1990-01-04  0.004032
1990-01-05  0.004017
1990-01-08  0.000000
1990-01-09 -0.032000

In [5]:
df_bac['return'].corr(df_jpm['return'])

0.722978167648